
/* Home__Faca-mais */
.home__faca-mais{
  background-color: #f6f6f6;
}

.faca-mais__container{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.faca-mais__container .faca-mais__text{
  width: 50%;
  padding: 0 40px;
}
.faca-mais__container .faca-mais__text h3{
  font-size: 56px;
}

.faca-mais__container .faca-mais__text p{
  margin: 5px 0 40px 0;
}

.faca-mais__container .faca-mais__img{
  width: max-content;
}

.faca-mais__container .faca-mais__img img{
  width: 100%;
}

/* Depoimentos */
.depoimentos {
  background-color: #fff;
}












/* >>>>>>>>>>>>> Página Serviços */
.servicos h3{
  text-align: center;
}

.servicos__container{
  max-width: 1400px;
  margin: 0 auto;
}

.servicos .servicos__container > p{
  text-align: center;
}

.servicos__rows-cards{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.row__card-item{
  background-color: #d3e6fd;
  width: 350px;
  padding: 20px;
  border-radius: 14px;
  margin: 20px;
  transition: 0.3s;
}

.row__card-item:hover{
  background-color: #4f9cf9;
}
.row__card-item:hover p{
  color: #fff;
}

.row__card-item img{
  background-color: #4f9cf9;
  border-radius: 14px;
  width: 70px;
  padding: 9px;
}

.row__card-item p.nome__servicos{
  margin: 5px 0;
  transition: 0.3s1;
}

.row__card-item p.descricao__servicos{
  transition: 0.3s;
}

/* serviços __ dados */
.servicos__dados{
  background-color: #d3e6fd;
}

.servicos__dados-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dados-item{
  text-align: center;
  margin: 15px;
  color: #000000be;
}

.dados-item img{
  background-color: #4f9cf9;
  border-radius: 14px;
  padding: 10px;
  margin-bottom: 15px;
  width: 80px;
}

.dados-item p{
  font-size: 18px;
}

.dados-item p strong{
  font-size: 28px;
}

/* >>>>>>>>>>>>> Página Contato */
.contatos__container{
  margin: 0 auto;
  width: 1400px;
}

.contatos__info{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.contatos__info-left{
  width: 50%;
  padding: 30px;
  background-color: #4f9cf9;
  border-radius: 14px;
  margin-right: 50px;
  height: fit-content;
}

.contatos__info-left div{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contatos__info-left div i{
  font-size: 24px;
  margin-right: 20px;
  color: #fff;
}

.contatos__info-left p{
  font-size: 17px;
  color: #fff;
}

.contatos__info-rigth{
  width: 50%;
}

.contatos__info-rigth input:focus,
.contatos__info-rigth textarea:focus{
  border-color:#4f9cf9;
}

.contatos__info-rigth input{
  display: block;
  width: 100%;
  margin-bottom: 10px;
  height: 47px;
  padding: 15px;
  border: 1px solid #f1f1f1;
  border-radius: 9px;
  transition: 0.3s;
  color: #212121;
  font-weight: lighter;
}

.contatos__info-rigth textarea{
  border: 1px solid #f1f1f1;
  color: #212121;
  border-radius: 9px;
  margin-bottom: 10px;
  padding: 15px;
  width: 100%;
  transition: 0.3s;
  resize: none;
}

.contatos__info-rigth button{
  border: none;
}







/* Página Contato ---- Responsivo */

@media (max-width:600px){
  .contatos__container {
    width: 100%;
  }
  .contatos__info{
    flex-direction: column-reverse;
  }
  .contatos__info-rigth,
  .contatos__info-left{
    width: 100%;
  }
  .contatos__info-rigth{
    margin-bottom: 80px;
  }
  .contatos__mapa{
    height: 300px;
  }
}

/* DEPOIMENTOS ---- Responsivo */
@media (max-width:600px){
  .depoimentos__cards-item{
    width: 100%;
  }  
}

